body{
	padding: 100px;
}

img {
    height: 100px;
    float: left;
  }

  #search-block-form{
  	margin: 0 auto;
  	margin-bottom: 20px;
	width:70%;
	height:28px;
	border:#c9c9c9 solid 1px;
	background:url(../img/searchBg.png) left top repeat-x;
	box-shadow:0px 1px 0px rgba(255,255,255,0.1);
	}
.focus-active{
	border-color:#aaa !important;
	background:#fff !important;
	}
#search-block-form input{
	padding:0;
	margin:0;
	display:block;
	border:none;
	outline:none;
	background:none;
	width:100%;
	height:100%;
	}
#search-block-form .form-actions{
	width:58px;
	height:28px;
	float:right;
	border:#a8b5b9 solid 1px;
	margin:-1px -1px 0 0;
	background:url(../img/submit.png) left top repeat;	
	}
#search-block-form .form-actions input:hover{
	cursor:pointer;
	}
#search-block-form .form-actions input{
	overflow:hidden;
	font:11px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#a8b5b9;
	}
#search-block-form .form-item{
	width:157px;
	padding:0 0 0 33px;
	float:left;
	height:28px;
	background:url(../img/searchIcon.png) 3px 2px no-repeat;
	}
#search-block-form .form-item input{
	font:13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#222;
	height:auto !important;
	padding:6px 0;
	}



.google {
	margin: 0 auto;
	padding-top: 50px;
	width: 250px;
	height: 100px;
}
.google img{
	width: 250px;
	height: 90px;
}

#images {
	margin: 0 auto;
	width: 604px;
}

.boxImg {

	height: 100px;
	width: 880px;
	margin: 0 auto;
}

.boxImg img {
	display: inline-block;
	margin: 20px;
}