*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #D8D8CA;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

nav {
	width: 100%;
	margin: 0 auto;
	background-color: #AAAAAA;
	font-family: Tahoma;

}
.slimmenu li {
	text-transform:uppercase;
	font-weight: bold;
	
}

.slimmenu a {
	text-decoration: none;
}
.gallery {
	
	margin:0 auto;
	position: relative;
}	

.prev {
	position:absolute;
    left:50px;
    top:200px;
    z-index: 15;
    outline-style: none;

}
	
.next {
	position:absolute;
    right:50px;
    top:200px;
	z-index: 11;
}

button {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	color: white;
	background-color: #40464b;
	font-weight: bold;
	outline: none;
	
}

.selectDrop {
	width: 100%;
	margin: 0 auto;
}

.dropdown {
	margin: 0 auto;
}

.conteiner_checkbox {
	width: 70%;
	margin: 0 auto;
}

#show {
    width:280px;
    height:160px;
    padding:20px;
    position: relative;
    top: 35%;
    background:#40464b;
    border-radius:6px;
    float: left;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}


h1 {
    font-size:14px;
    color:#f2f2f2;
    text-align:center;
    margin:0 0 20px;
    padding:0;
    font-family:Tahoma;
}

.checkbox_JQ {
	width: 15%;
	line-height: 20px;
	float: right;
	background-color: #40464B;
	border-radius:6px;
	padding:20px;
}

.checkbox_JQ  label {
	color: white;
}

.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox.png);
	overflow: hidden;
	vertical-align: bottom;
}
.niceChecked {
	background-position: 0 -16px;
}
.niceCheck input {
	margin-left: -1000px; 
}
.niceCheckDisabled {
	background-image: url(../img/checkbox.png);
}
