div.tabs {
background: #ddd;
padding: 1em;
}

div.container { 
margin: auto; 
width: 90%; 
margin-bottom: 10px;
}

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #bbb;
color: #000;
text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: #FFF;
color: #000;
}

ul.tabNavigation li a:hover {
background: #ccc;
color: #000;
}

ul.tabNavigation li a:focus {
outline: 0;
}

div.tabs div {
padding: 5px;
margin-top: 3px;
border: 1px solid #FFF;
background: #FFF;
}

div.tabs div h2 {
margin-top: 0;
}

.login {
	display: inline-block;
	border: 3px solid #ddd;
	border-radius: 20px;
	margin-top: 20px;
	padding: 20px;
}


.hint {
  position: relative;
  cursor: help;
  border-bottom: 1px dotted;
}
.login-submit {
	text-align: center;
}
