.tabs {
	background: #ddd;
	padding: 1em;
}

.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabNavigation li {
	display: inline;
}

.tabNavigation li a {
	padding: 3px 9px;
	background-color: #bbb;
	color: #000;
	text-decoration: none;
}

.tabNavigation li a.selected,
.tabNavigation li a.selected:hover {
	background: #FFF;
	color: #000;
}

.tabNavigation li a:hover {
	background: #ccc;
	color: #000;
}

.tabNavigation li a:focus {
	outline: 0;
}

.tabs div {
	padding: 5px;
	margin-top: 3px;
	border: 1px solid #FFF;
	background: #FFF;
}

.tabs div h2 {
	margin-top: 0;
}

/*всплывающие меню*/

.login {
	display: inline-block;
	margin-top: 20px;
	padding: 20px;
	border: 3px solid #ddd;
	border-radius: 20px;
}

.login span{
  position: relative;
  cursor: help;
  border-bottom: 1px dotted;
}

.login-submit {
	text-align: center;
}

.tooltip div{
  display: none;
  position: absolute;
  bottom: -9px;
  left: 177px;
  z-index: 1000;
  width: 190px;
  padding: 8px 12px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  box-shadow: 0 1px 3px #C4C4C4;
  border: 1px solid #DBB779;
  background: #FFF6BD;
  border-radius: 2px;
}