<!DOCTYPE html>
<html>
<head>
	<title>FINAL</title>
	<link rel="stylesheet" type="text/css" href="css/dist/style.min.css">
	<meta name="viewport" content="width=device-width">
	<!--<link rel="stylesheet" type="text/css" href="css/src/reset.css">-->
	<!--<link rel="stylesheet" type="text/css" href="css/src/style.css">-->
	<script type="text/javascript" src="js/dist/script.min.js"></script>
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<!--[if lt IE 8]>
	<link href="ie7.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.css">
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<script type="text/javascript" src="js/src/tmpl.js"></script>
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="js/src/jcarousellite.js"></script>
	<script type="text/javascript" src="js/src/script.js"></script>


</head>

<body>

<div class="wrapper">

	<header class="clearfix">
		<div class="name"> <a href="#" class="name__link">URLAUBSGLUCK</a> </div>
		<div class="autorization">
			<span ><a href="#" class="autorization__login">Log in</a> </span>
			<span > <a href="#" class="autorization__signup">Sign up</a> </span>
		</div>
		<div class="clearfix"></div>
		<div class="tagline">
			<span class="tagline__first">Share your</span>
			<span class="tagline__second"> holiday dreams</span>
			<span class="tagline__third">And find the perfect partner to fullfill it</span>
			<span class="tagline__fourth"> <a href="#">Find your holiday partner</a></span>

		</div>

	</header>
	<div class="container clearfix"></div>
	<main>
		<div class="question">How Urlaubsgluck works?</div>

		<div class="gallery__box clearfix gallery__box_first">
			<div class="gallery1">

				<ul>
					<li><img src="img/step1.jpg" height="400px" width="300px" alt="Картинка 1"/></li>
					<li><img src="img/step2.jpg" height="400px" width="300px" alt="Картинка 2"/></li>
					<li><img src="img/step3.jpg" height="400px" width="300px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev1"></button>
				<button class="next1"></button>

				<div class="gallery1__but"><a href="#">Step 1</a></div>
				<div class="gallery1__secondstr">Sed leo enim, condimentum</div>
				<div class="gallery1__thirdstr">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
			<div class="gallery2 ">

				<ul>
					<li><img src="img/step2.jpg" height="400px" width="300px" alt="Картинка 1"/></li>
					<li><img src="img/step3.jpg" height="400px" width="300px" alt="Картинка 2"/></li>
					<li><img src="img/step1.jpg" height="400px" width="300px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev2"></button>
				<button class="next2"></button>

				<div class="gallery2__but"><a href="#">Step 2</a> </div>
				<div class="gallery2__secondstr">Morbi velit risus</div>
				<div class="gallery2__thirdstr">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
			</div>
			<div class="gallery3">

				<ul>
					<li><img src="img/step2.jpg" height="400px" width="300px" alt="Картинка 1"/></li>
					<li><img src="img/step1.jpg" height="400px" width="300px" alt="Картинка 2"/></li>
					<li><img src="img/step3.jpg" height="400px" width="300px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev3"></button>
				<button class="next3"></button>

				<div class="gallery3__but"><a href="#"> Step 3</a ></div>
				<div class="gallery3__secondstr">Sed leo enim, condimentum</div>
				<div class="gallery3__thirdstr">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
		</div>

		<div class="gallery__box clearfix gallery__box_second " >
			<div class="gallery1">

				<ul>
					<li><img src="img/step1_236.png" height="400px" width="236px" alt="Картинка 1"/></li>
					<li><img src="img/step2_236.png" height="400px" width="236px" alt="Картинка 2"/></li>
					<li><img src="img/step3_236.png" height="400px" width="236px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev1"></button>
				<button class="next1"></button>

				<div class="gallery1__but"><a href="#">Step 1</a></div>
				<div class="gallery1__secondstr">Sed leo enim, condimentum</div>
				<div class="gallery1__thirdstr">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
			<div class="gallery2 ">

				<ul>
					<li><img src="img/step2_236.png" height="400px" width="236px" alt="Картинка 1"/></li>
					<li><img src="img/step3_236.png" height="400px" width="236px" alt="Картинка 2"/></li>
					<li><img src="img/step1_236.png" height="400px" width="236px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev2"></button>
				<button class="next2"></button>

				<div class="gallery2__but"><a href="#">Step 2</a> </div>
				<div class="gallery2__secondstr">Morbi velit risus</div>
				<div class="gallery2__thirdstr">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
			</div>
			<div class="gallery3">

				<ul>
					<li><img src="img/step2_236.png" height="400px" width="236px" alt="Картинка 1"/></li>
					<li><img src="img/step1_236.png" height="400px" width="236px" alt="Картинка 2"/></li>
					<li><img src="img/step3_236.png" height="400px" width="236px" alt="Картинка 3"/></li>
				</ul>

				<button class="prev3"></button>
				<button class="next3"></button>

				<div class="gallery3__but"><a href="#"> Step 3</a ></div>
				<div class="gallery3__secondstr">Sed leo enim, condimentum</div>
				<div class="gallery3__thirdstr">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
		</div>




		<div class=" gallery__box_third clearfix " >
			<div class="gallery11">

				<div><img src="img/step1_320.png"  alt="Картинка 1"/></div>
				<div class="gallery1__but1"><a href="#">Step 1</a></div>
				<div class="gallery1__secondstr1">Sed leo enim, condimentum</div>
				<div class="gallery1__thirdstr1">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
			<div class="gallery22 ">
				<div><img src="img/step2_320.png"  alt="Картинка 1"/></div>
				<div class="gallery2__but2"><a href="#">Step 2</a> </div>
				<div class="gallery2__secondstr2">Morbi velit risus</div>
				<div class="gallery2__thirdstr2">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</div>
			</div>
			<div class="gallery33">
				<img src="img/step3_320.png"  alt="Картинка 3"/>
				<div class="gallery3__but3"><a href="#"> Step 3</a ></div>
				<div class="gallery3__secondstr3">Sed leo enim, condimentum</div>
				<div class="gallery3__thirdstr3">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
			</div>
		</div>
		<div class="acquaintance ">Meet a partner for your best holiday</div>

		<div class="partners ">
			<div class="partners__icons clearfix">
				<div class="partners__one">
					<div class="partners__one_img"><img src="img/hunter.png" alt="фото1"></div>
					<div class="partners__one_name">Bradley Hunter</div>
					<div class="partners__one_description">Based in Chicago. I love playing tennis and loud music.</div>

				</div>
				<div class="partners__two">
					<div class="partners__two_img"><img src="img/walker.png" alt="фото1"></div>
					<div class="partners__two_name">Heather Walker</div>
					<div class="partners__two_description">I'm a happy person that loves cats and climbing on mountains.</div>
				</div>
				<div class="partners__three">
					<div class="partners__three_img"><img src="img/marsha.png" alt="фото1"></div>
					<div class="partners__three_name">Lucas Marsha</div>
					<div class="partners__three_description">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</div>
				</div>
				<div class="partners__four ">
					<div class="partners__four_img"><img src="img/breadley.png" alt="фото1"></div>
					<div class="partners__four_name">Bradley Hunter</div>
					<div class="partners__four_description">Based in Chicago. I love playing tennis and loud music.</div>
				</div>
			</div>
			<div class="partners__button"><a href="#">See other partners</a> </div>
		</div>


		<div class="tile">
			<div class="discover ">Discover holiday activity ideas</div>
			<script type="text/html" class="showImg">
				<% for(i=0; i<data.images.length; i++) { %>
				<div class="grid-item">
					<img class="picture" src="<%= data.images[i].imageurl %>">
					<div class="pictureName"><%= data.images[i].word %></div>
				</div>
				<% }; %>
			</script>

			<div class="grid clearfix">
			</div>

			<div class=" discover__holiday ">Discover holiday activity ideas</div>
			<div class=" hi ">Hi! What are your holiday interests?</div>
			<div class="searchForm">
				<input class="searchForm__input" type="text" placeholder="Enter your interests"/>
				<button class="searchForm__btn">Search partners</button>
			</div>
		</div>
	</main>

	<footer>
		<div class="footer__redline"></div>
		<div class="footer__name"> <a href="#">URLAUBSGLUCK</a> </div>
		<div class="footer__company"> <a href="#">Company</a>
			<div class="footer__company_menu">
				<div class="about"><a href="#">About</a> </div>
				<div class="contacts"><a href="#">Contacts</a> </div>
				<div class="press"><a href="#">Press</a> </div>
				<div class="blog"><a href="#">Blog</a> </div>
			</div>
		</div>
		<div class="footer__partners"> <a href="#">Partners</a> </div>
		<div class="footer__logo"> <a href="#"><img src="img/areto.png"></a> </div>
	</footer>


</div>

</body>
</html>