<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HW_JS_21_22</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="js/tmpl.js"></script>
  <script src="js/dist/script_main.js"></script>

</head>

<body>

   <div class="wrapper clearfix">
       <h1>ТЕСТ АВИА-МЕХАНИКА</h1>
        
       
         <form method="POST" action="#" class="interview" name="interview">
          <script type="text/html" class="test">
            <% for(i=0; i<data.length; i++) { %>
              <div class="question">
                <%= data[i].question %>
              </div>
              <% for(j=0; j<Object.keys(data[i].answers).length; j++) { %>
                <label  class="answers">
                  <input type="checkbox">
                    <span>
                     <%= data[i].answers[j+1][0] %>
                    </span>
                  </input>
                </label>
              <% }; %>
            <% }; %> 
          </script>
          
          <input type="button" value="Проверить" name="check" class="check"></input>
          
        </form>
        <div id="modal_form"> 
              <span id="modal_close">X</span> 
        </div>
        <div id="overlay">
          
        </div>


  </div>

</body>
</html>











